* {
  margin: 0;
  padding: 0;
}

body {
  background: #708090;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 1rem;
  color: #fff;
}

.form input {
  height: 29px;
  width: 190px;
  margin-right: 5px;
  border: none;
  border-radius: 10px;
  margin-bottom: 4px;
}

.form button {
  border: none;
  height: 29px;
  width: 70px;
  padding: 0.2rem;
  border-radius: 7px;
  background: #8975;
  color: #fff;
}

.task input {
  background: transparent;
  border: none;
  padding: 0.2rem;
  margin: 4px 4px;
  color: #fff;
}

.task button {
  border: none;
  margin: 2px 2px;
  height: 20px;
  width: 50px;
  border-radius: 4px;
  background: rgb(66, 133, 160);
  color: #fff;
}

.task li {
  list-style: none;
  padding: 0.1rem;
}
