* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  background-color: blue;
  margin: 2px 4px;
  border-radius: 15px;
  padding-bottom: 20px;
}

body h1 {
  padding: 20px;
}

.form input {
  height: 28px;
  border: none;
  border-radius: 20px;
  width: 270px;
  margin: 2px 7px;
}

.form button {
  cursor: pointer;
  padding: 7px;
  height: 28px;
  border: none;
  border-radius: 7px;
  background-color: cornflowerblue;
}

.task li {
  list-style: none;
}

.task input {
  border: none;
  background: none;
}

.task button {
  cursor: pointer;
  padding: 4px;
  border: none;
  border-radius: 7px;
  margin: 4px 1px;
  background-color: darkcyan;
}
